{% extends 'layout.html' %}

{% block title %} {{title}} {% endblock %}

{% block content %}
<h2>{{title}}</h2>
<ul>
    <li><a href="/">Index</a></li>
    <li><a href="contact">Contact</a></li>
    <li><a href="404">Not Found</a></li>
</ul>
{% endblock %}